.button{
  height: 50px;
  width: 50px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--white-white, #FFF);
  box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);
}

.icon > *{
  background-color: orange;
}
svg{}