.wrapper{
  flex: 1;
}
.head{
  padding: 25px 20px 20px 20px;
  height: 85px;
  display: flex;
  flex: 1;
  border-bottom: 2px solid var(--gray-blue-grey-blue-97, #F5F6F7);
  &Content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
  }
}
.left{
  display: flex;
}
.groupButton {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  border-radius: 23px;
  box-shadow: var(
                  --shadows-gray-blue-30-3-5-b-box-shadow,
                  0px 2px 5px 0px rgba(38, 51, 77, 0.03)
  );
}
.groupButton>*:last-child{
  rotate: 180deg;
}
.button {
  background: var(--white-white, #ffffff);
  border-radius: 100px 0 0 100px;
  border-style: solid;
  border-color: var(--gray-blue-grey-blue-97, #f5f6f7);
  border-width: 2px;
  padding: 6px 5px 6px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.buttonDelete{
  margin-left: 10px;
  background: var(--white-white, #ffffff);
  border-radius: 100px;
  border-style: solid;
  border-color: var(--gray-blue-grey-blue-97, #f5f6f7);
  border-width: 2px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
                  --shadows-gray-blue-30-3-5-b-box-shadow,
                  0px 2px 5px 0px rgba(38, 51, 77, 0.03)
  );
}

.input{
  max-width: 194px;
  max-height: 44px;
  height: 44px;
  border-radius: 30px;
  border: 2px solid var(--gray-blue-grey-blue-97, #F5F6F7);
  background: var(--white-white, #FFF);
  box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);
}



.galleryContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 45px 40px 45px 40px;
}

.galleryFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  &>div{
    max-width: 160px;
    max-height: 190px;
    width: 100%;
    height: 100%;
  }
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 30px;
  & > .imageContainer:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
    margin: 0;
  }
  & > .imageContainer:nth-child(2){
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
    margin: 0;
  }
  & > .imageContainer:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
    margin: 0;
  }
  & > .imageContainer:nth-child(4){
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
    margin: 0;
  }
  & > .imageContainer:nth-child(5){
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 9;
    margin: 0;
  }
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageFlex {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--gray-blue-grey-blue-97, #F5F6F7);
  background: var(--white-white, #FFF);
  box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);
}
.image{
  max-height: 110px;
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 12px;
}

.imageGrid{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);
}

.imageTitle {
  margin-top: 20px;
  max-width: 110px;
  max-height: 50px;
  overflow: hidden;
  text-align: center;
  color: var(--gray-blue-grey-blue-60, #6B7A99);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
}
